.jumbotron {
  margin-top: 25px;
}
#title {
  font-family: "Poiret One", cursive;
  text-align: center;
}
#wikipedia-image {
  padding: 25px;
  width: 250px;
  height: 250px;
}
#search {
  padding-top: 50px;
}
#searchField {
  width: 60%;
}

.searchResult {
  margin: 10px;
}
.searchResult:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
